{% extends 'base.html' %}

{% block main %}
    <section>
        <div class="container-fluid px-0 my-4">
            <div class="row mb-2 ms-2 me-3">
                <img class="col-md-9 rounded-5 mt-3" width="100%" height="364.8" src="{{ url_for('static', filename='uploads/' + business.photo_filename) }}" alt="{{ business.business_name }}">

                <div class="col-sm-12 col-md-3 border border-2 rounded-3 p-2 mt-3">
                    <h4>
                        Contact Details
                    </h4>

                    <p class="ms-4">
                        <i class="bi bi-telephone"></i> <strong>Phone</strong><br>
                        <small class="ms-3">
                            <a href="tel:+233{{ business.phone }}">{{ business.phone }}</a>
                        </small>
                    </p>

                    <p class="ms-4">
                        <i class="bi bi-envelope"></i> <strong>Email</strong><br>
                        <small class="ms-3">
                            <a href="mailto:{{ business.email }}">{{ business.email }}</a>
                        </small>
                    </p>

                    <p class="ms-4">
                        <strong><i class="bi bi-person-lines-fill"></i> WhatsApp</strong><br>
                        <small class="ms-3" aria-disabled="true">
                            +233{{ business.whatsapp }}
                        </small>
                    </p>

                    <p class="ms-4">
                        <i class="bi bi-geo-alt-fill"></i> <strong>Location</strong><br>
                        <small class="ms-3">
                            {{ business.location }}
                        </small>
                    </p>

                    <div class="d-flex justify-content-between flex-wrap gap-2 mt-4">
                        <button class="btn btn-outline-success">
                            <img class="text-nowrap" src="{{ url_for('static', filename='images/whatsapp.png') }}" width="30"  style="color: #25D366;" alt="WhatsApp_Icon">
                            <a href="https://wa.me/233{{ business.whatsapp }}" target="_blank" style="text-decoration: none; color: black;">
                                Chat on WhatsApp
                            </a>
                        </button>
                        <button onclick="history.back()" class="btn btn-outline-warning" style="color:black">
                            <i class="bi bi-arrow-left"></i> Back
                        </button>
                    </div>
                    
                </div>
            </div>

            <div class="row ms-2 me-3">
                <div class="col-md-9 border border-2 rounded-3 pt-2 px-3 mt-2" width="100%" height="auto">
                    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
                        <h5>
                            {{ business.business_name }}
                        </h5>
                        <span>
                            <small class="border rounded-pill px-1 text-nowrap" style="background-color: rgb(168, 243, 218);">
                                {{ business.category }}
                            </small>
                        </span>
                    </div>

                    <div>
                        <p>
                            {{ business.description }}
                        </p>
                    </div>
                </div>
                
                <div class="col-md-3 border rounded-3 py-3 mt-3">
                    <div>
                        <small>
                            <i class="bi bi-calendar-date"></i> <strong>Business Hours</strong>
                        </small>
                    </div>

                    <div>
                        <div class="pb-2 d-flex justify-content-between">
                            <span>
                                <small>
                                    Mon-Fri
                                </small>
                            </span>
                            <span>
                                <small>
                                    8:00 AM &ndash; 7:00 PM
                                </small>
                            </span>
                        </div>

                        <div class="pb-2 d-flex justify-content-between">
                            <span>
                                <small>
                                    Sat
                                </small>
                            </span>
                            <span>
                                <small>
                                    9:00 AM &ndash; 7:00 PM
                                </small>
                            </span>
                        </div>

                        <div class="pb-2 d-flex justify-content-between">
                            <span>
                                <small>
                                    Sun
                                </small>
                            </span>
                            <span>
                                <small style="color: rgba(215, 70, 70, 0.809);">
                                    Closed
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}